@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #050A52;
}

nav{
    padding-right: 15vw;
}

nav a{
    color: black;
    text-decoration: none;
    padding-right: 20px;
    font-size: 1.1em;
}

nav a:hover{
    color: rgb(96, 96, 96);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 7vw 120px 7vw;
}

#video{
    width: 600px;
}

.conteudo{
    color: white;
    text-align: left;
}

#first-p{
    padding-top: 30px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.huge{
    font-size: 3.2em;
    padding-top: 20px;
}

.btn:hover{
    background-color: #151c7b;
    transition: all 0.5s ease-in-out;
}

.titulo-centro{
    text-align: center;
    font-size: 2.3em;
}

.img-text{
    color: white;
    width: 250px;
    text-align: center;
}

.img-text h2{
    padding: 15px 0px 5px 0px;
}

.fundo-branco{
    background-color: white;
    padding-top: 80px;
}

.fundo-branco h1{
    color: #050A52;
    padding-top: 20px;
}

.fundo-branco h2{
    color: #050A52;
    font-size: 1.8em;
}

.text{
    width: 400px;
}

.text p{
    color: rgb(96, 96, 96);
    padding: 7px 0px 7px 0px;
}