@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #050A52;
}

header{
    top: 0;
    position: sticky;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7vw;
}

header img{
    height: 25px;
}

#btn-header{
    font-size: 1.2em;
    font-weight: bolder;
    color: #050A52;
    border: 1px solid #050A52;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7vw;
}

.bxs-right-arrow-alt{
    font-size: 1.4em;
    color: #050A52;
}

#link-btn{
    text-decoration: none;
}

#btn-header:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 7vw 0px 7vw;
}

#video{
    width: 600px;
}

.conteudo{
    color: white;
    text-align: left;
}

.textop{
    padding-top: 30px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.huge{
    font-size: 3.2em;
    padding-top: 20px;
}

.btn{
    font-size: 1.2em;
    font-weight: bolder;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    width: 100px;
    margin-top: 30px;
}

.btn-link{
    color: white;
    text-decoration: none;
}

.btn:hover{
    background-color: #151c7b;
    transition: all 0.5s ease-in-out;
}
